/* stylelint-disable no-descending-specificity, media-feature-range-notation */
@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: Kablammo, system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

body {
  background: #f3f3f3;
}

a {
  color: #b05574;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */

.button {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #ca1444;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.more {
  margin: 2rem;
  cursor: pointer;
}

div .mostrar-mais {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 1;
}

/**
 * Body Container
 */

.container {
  max-width: 75rem;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}

/**
 * Top Navigation
 */

.menu {
  height: 4em;
  background: linear-gradient(90deg, #49708a, #efaaa3, #f5cf71);
}

.menu h1 {
  position: relative;
  padding: 5px 0 0 8px;
  color: #f9f9f9;
  font-size: 1.8em;
  font-style: italic;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
  width: 70%;
  text-align: right;
}

.menu .links a {
  position: relative;
  bottom: 5px;
}

.projects label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.projects form p {
  font-size: 80%;
  display: block;
  text-align: center;
}

.projects input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 20px auto 50px;
  background-color: rgb(255 255 255 / 75%);
  border: solid 1px lightgray;
  display: block;
}

.menu input:focus {
  background-color: #f9f9f9;
  outline: none;
}

.menu button {
  margin-right: 15px;
  position: relative;
  top: -1px;
  left: -5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #262626;
  cursor: pointer;
  opacity: 1;
}

.menu button:hover {
  background-color: #111;
  opacity: 1;
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #f6f6f6;
  border-right: 1px solid rgb(0 0 0 / 5%);
  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.results {
  margin-top: -10px;
}

.results li {
  list-style: none;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.menu .results li:hover {
  background: #f3f3f3;
}

/**
 * Content Area
 */

.body {
  padding: 15px;
}

.cabecalho {
  padding: 50px;
  background: #f6f6f6;
}

.cabecalho:hover {
  background-color: #f3f3f3;
}

.cabecalho h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cabecalho p,
.cabecalho address {
  margin-bottom: 25px;
}

.cabecalho img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.profile {
  background: url("../assets/images/foto-perfil.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: relative;
  top: -25px;
  border-radius: 50%;
  margin-left: 2rem;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/**
 * Individual project Listing
 */

 .project {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto; 
  width: 95%;
}


.project:hover {
  background-color: #f3f3f3;
}

.project img {
  border-radius: 5px;
}

.project .image {
  flex-grow: 0;
  flex-basis: 150px;
  margin: 20px 25px;
  text-align: center;
}

.project button.image {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
}

.project button.image:focus {
  outline: none;
}

.project button.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: -20px;
  padding: 20px;
  border-radius: 5px;
  background: #016aba;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.project button.image:focus::after,
.project button.image:hover::after {
  opacity: 0.1;
}

.project .image img {
  max-width: 100%;
}

.project .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.project .image small {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  text-align: center;
  color: #016aba;
  position: relative;
}

.project .image.large small {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 110%;
}

.project .details {
  flex-basis: 50%;
  flex-grow: 2;
  height: auto;
  margin: 10px 5px;
  place-content: space-around space-between;
  flex-wrap: wrap;
}
.project .details .links{
  display: flex;
  justify-content: space-between;
  width: 15%;
  color: #b05574;
}

.project h3 {
  flex-basis: 100%;
}

.project h3 a {
  display: inline;
}

.project .detail {
  font-weight: 300;
  font-style: italic;
  margin-top: 1rem;
}

.project .details .descricao {
  padding-right: 5px;
}

.project .detail span {
  font-weight: 400;
  font-style: normal;
}

.project .map {
  flex-grow: 0;
  flex-basis: 150px;
  font-size: 0;
  margin: 0 25px;
}

.project .map img {
  width: 150px;
  height: 150px;
}

.project.detailed {
  background: none;
  align-items: flex-start;
}

.project.detailed .image {
  flex-basis: 320px;
}

.project.detailed .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.project.detailed .details {
  height: auto;
}

.project.detailed h3 {
  font-size: 200%;
  margin-bottom: 10px;
}

.project.detailed .detail {
  margin: 5px 0;
  flex-basis: 100%;
  flex-shrink: 2;
}

.project.detailed .descricao {
  white-space: normal;
  flex-basis: 100%;
  flex-shrink: 1;
}

.project.detailed .map {
  flex-basis: 100%;
  margin: 50px 25px 25px;
}

.project.detailed .map img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 919px) {
  .project.detailed .image,
  .project.detailed .image.large {
    margin: 30px 25px 25px;
    flex-basis: 100%;
    cursor: default;
  }

  .project.detailed .image:hover {
    flex-basis: 100%;
    cursor: default;
  }

  .project.detailed .image small {
    display: none;
  }

  .project.detailed button.image:hover::after {
    opacity: 0;
  }

  .project.detailed button.image:focus::after {
    opacity: 0.1;
  }

  .project.detailed .map {
    margin-top: 25px;
  }
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
