<Cabecalho>
  <h2>Contact me</h2>
  <p>
    Entre em contato comigo pelas minhas redes sociais
  </p>
  <address>
    <a href="https://wa.me/5547992577139" target="_blank" title="Enviar mensagem no WhatsApp">WhatsApp</a><br>
    <a href="jessgdorf@gmail.com">jessgdorf@gmail.com</a><br>
    <a href="https://www.linkedin.com/in/jessica-gelsdorf/" title="Ir para o Linkedin" target="_blank">LinkedIn</a><br>
    <br>
    <a href="https://github.com/mejessica" target="_blank" title="Ir para o Github">Acesse meu Github!</a>
  </address>

  <LinkTo @route="projects" class="button">Projects</LinkTo>
</Cabecalho>