<Cabecalho>
  <h2>Welcome you!</h2>
  <div class="right profile"></div>
  <p>Me formei em Técnico em Informática pelo IFRS, o curso que me fez ter interesse na área. Já fui bolsista de projeto com o objetivo de ensinar a programação através da robótiva, assim estimulando o pensamento lógico e a capacidade de pensar por si mesmo dos estudantes. Atualmente, estou participando de um curso fullstack oferecido pelo DevQuest, que tem me proporcionado um aprendizado significativo. Também adoro editar vídeos, faço isso como hobbie no tempo livre. Estou iniciando minha trajetória como programadora e espero que goste dos projetos que encontrar aqui!</p>
  <LinkTo @route="projects" class="button">Projects</LinkTo>
</Cabecalho>