<Cabecalho>
  <h2>Welcome you!</h2>
  <div class="right profile"></div>
  <p>Me formei em Técnico em Informática pelo IFRS, o curso que me fez ter interesse na área. Já fui bolsista de projeto
    com o objetivo de ensinar a programação através da robótiva, assim estimulando o pensamento lógico e a capacidade de
    pensar por si mesmo dos estudantes. Atualmente, estou participando de um curso fullstack oferecido pelo DevQuest,
    que tem me proporcionado um aprendizado significativo. Também adoro editar vídeos, faço isso como hobbie no tempo
    livre. Estou iniciando minha trajetória como programadora e espero que goste dos projetos que encontrar aqui!</p>

  <LinkTo @route="projects" class="button">Projects</LinkTo>
</Cabecalho>

 <div style="margin: 1rem 2rem">
   <img align="center" alt="HTML" height="30" width="40"
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
  <img align="center" alt="CSS" height="30" width="40"
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
  <img align="center" alt="git" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
  <img align="center" alt="postgresql" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
  <img align="center" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" />
  <img align="center" alt="JS" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
  <img align="center" alt="mongod" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-plain-wordmark.svg" />
  <img align="center" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" />
  <img align="center" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongoose/mongoose-original-wordmark.svg" />
  <img align="center" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ember/ember-original-wordmark.svg" />
  <img align="center" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/arduino/arduino-original-wordmark.svg" />
  <img align="center" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/npm/npm-original-wordmark.svg" />
  <img align="center" height="30" width="40"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" />

 </div>
